
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Manager_LayoutPage1.cshtml";
}

<div class="container shado mt-5 ">
    <!-- Heading -->
    <div class="w-100 card-heading">
        <h3 class="text-center text-white pt-2 pb-2">Create</h3>
    </div>

    <!-- Cards Section -->
    <div class="row g-3 cardStyle justify-content-center">
        <!-- Collection Point -->
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
            <a href="~/Manager/Create_cp" class="card custom-card text-center h-100">
                <div class="card-body">
                    <img src="~/images/logo/map.png" class="imageSize img-fluid" alt="Collection Point" />
                    <h6 class="card-title mt-1 mb-0">Collection Point</h6>
                </div>
            </a>
        </div>

        <!-- Associate -->
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
            <a href="~/Manager/Create_associate" class="card custom-card text-center h-100">
                <div class="card-body">
                    <img src="~/images/logo/community.png" class="imageSize img-fluid" alt="Associate" />
                    <h6 class="card-title mt-1 mb-0">Associate</h6>
                </div>
            </a>
        </div>

        <!-- Customer -->
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
            <a href="~/Manager/Create_customer" class="card custom-card text-center h-100">
                <div class="card-body">
                    <img src="~/images/logo/client.png" class="imageSize img-fluid" alt="Customer" />
                    <h6 class="card-title mt-1 mb-0">Customer</h6>
                </div>
            </a>
        </div>

        <!-- FD Customer -->
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
            <a href="~/Manager/Create_fdcustomer" class="card custom-card text-center h-100">
                <div class="card-body">
                    <img src="~/images/logo/rating (1).png" class="imageSize img-fluid" alt="FD Customer" />
                    <h6 class="card-title mt-1 mb-0">FD Customer</h6>
                </div>
            </a>
        </div>

        <!-- Member -->
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
            <a href="~/Manager/Create_member" class="card custom-card text-center h-100">
                <div class="card-body">
                    <img src="~/images/logo/group.png" class="imageSize img-fluid" alt="Member" />
                    <h6 class="card-title mt-1 mb-0">Member</h6>
                </div>
            </a>
        </div>

        <!-- Advance Booking -->
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
            <a href="~/Manager/Create_ab" class="card custom-card text-center h-100">
                <div class="card-body">
                    <img src="~/images/logo/booking.png" class="imageSize img-fluid" alt="Advance Booking" />
                    <h6 class="card-title mt-1 mb-0">Advance Booking</h6>
                </div>
            </a>
        </div>

        <!-- Add Expense -->
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
            <a href="~/Manager/Create_aa" class="card custom-card text-center h-100">
                <div class="card-body">
                    <img src="~/images/logo/budget.png" class="imageSize img-fluid" alt="Add Expense" />
                    <h6 class="card-title mt-1 mb-0">Add Expense</h6>
                </div>
            </a>
        </div>

        <!-- ID Card -->
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
            <a href="~/Manager/Create_IdCard" class="card custom-card text-center h-100">
                <div class="card-body">
                    <img src="~/images/logo/id-card.png" class="imageSize img-fluid" alt="ID Card" />
                    <h6 class="card-title mt-1 mb-0">ID Card</h6>
                </div>
            </a>
        </div>

        <!-- Create Receptionist -->
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
            <a href="~/Manager/Create_cr" class="card custom-card text-center h-100">
                <div class="card-body">
                    <img src="~/images/logo/receptionist.png" class="imageSize img-fluid" alt="Create Receptionist" />
                    <h6 class="card-title mt-1 mb-0">Create Receptionist</h6>
                </div>
            </a>
        </div>

        <!-- Create DeelSheet -->
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
            <a href="~/Manager/Printing_prenewal" class="card custom-card text-center h-100">
                <div class="card-body">
                    <img src="~/images/logo/receipt (1).png" class="imageSize img-fluid" alt="Create DeelSheet" />
                    <h6 class="card-title mt-1 mb-0">Create DeelSheet</h6>
                </div>
            </a>
        </div>
    </div>
</div>


