
@{
    ViewBag.Title = "Field_reports";
    Layout = "~/Views/Manager_LayoutPage1.cshtml";
}

<div class="container shado mt-5">
    @*Heading*@

    <div class="w-100  card-heading">
        <h3 class="text-center  text-white pt-1 pb-1">Field Reports</h3>
    </div>


    @*Cards Section*@
<div class="row cardStyle g-3 justify-content-center">
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
        <a href="~/Manager/Printing_Form" class="card custom-card text-center h-100">
            <div class="card-body">
                <img src="~/images/logo/list.png" class="imageSize img-fluid" alt="Datewise Associate List" />
                <h6 class="card-title mt-1 mb-0 ">Associate List</h6>
            </div>
        </a>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
        <a href="~/Manager/Printing_customer" class="card custom-card text-center h-100">
            <div class="card-body">
                <img src="~/images/logo/filling-form.png" class="imageSize img-fluid" alt="Customer" />
                <h6 class="card-title mt-1 mb-0">Datewise Associate List</h6>
            </div>
        </a>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
        <a href="~/Manager/Printing_cwl" class="card custom-card text-center h-100">
            <div class="card-body">
                <img src="~/images/logo/CreateLogo/chain.png" class="imageSize img-fluid" alt="Associate Chain" />
                <h6 class="card-title mt-1 mb-0">Associate Chain</h6>
            </div>
        </a>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
        <a href="~/Manager/Printing_pc" class="card custom-card text-center h-100">
            <div class="card-body">
                <img src="~/images/logo/CreateLogo/invoice.png" class="imageSize img-fluid" alt="Associate Payment Details" />
                <h6 class="card-title mt-1 mb-0">Associate Payment Details</h6>
            </div>
        </a>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
        <a href="~/Manager/Printing_pc" class="card custom-card text-center h-100">
            <div class="card-body">
                <img src="~/images/logo/CreateLogo/svg.png" class="imageSize img-fluid" alt="Associate Business Details" />
                <h6 class="card-title mt-1 mb-0">Associate Business Details</h6>
            </div>
        </a>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
        <a href="~/Manager/Printing_pc" class="card custom-card text-center h-100">
            <div class="card-body">
                <img src="~/images/logo/CreateLogo/management.png" class="imageSize img-fluid" alt="Associate Account Details" />
                <h6 class="card-title mt-1 mb-0">Associate Account Details</h6>
            </div>
        </a>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
        <a href="~/Manager/Printing_Form" class="card custom-card text-center h-100">
            <div class="card-body">
                <img src="~/images/logo/CreateLogo/management.png" class="imageSize img-fluid" alt="Associate Wise Account Details" />
                <h6 class="card-title mt-1 mb-0 ">Associate Wise Account Details</h6>
            </div>
        </a>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
        <a href="~/Manager/Printing_customer" class="card custom-card text-center h-100">
            <div class="card-body">
                <img src="~/images/logo/CreateLogo/money (2).png" class="imageSize img-fluid" alt="Associate Self Collection" />
                <h6 class="card-title mt-1 mb-0">Associate Self Collection</h6>
            </div>
        </a>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
        <a href="~/Manager/Printing_cwl" class="card custom-card text-center h-100">
            <div class="card-body">
                <img src="~/images/logo/CreateLogo/finance.png" class="imageSize img-fluid" alt="Associate Chain Collectio" />
                <h6 class="card-title mt-1 mb-0">Associate Chain Collection</h6>
            </div>
        </a>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
        <a href="~/Manager/Printing_pc" class="card custom-card text-center h-100">
            <div class="card-body">
                <img src="~/images/logo/money (1).png" class="imageSize img-fluid" alt="Associate Self Due Collection" />
                <h6 class="card-title mt-1 mb-0">Associate Self Due Collection</h6>
            </div>
        </a>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
        <a href="~/Manager/Printing_pc" class="card custom-card text-center h-100">
            <div class="card-body">
                <img src="~/images/logo/CreateLogo/finance.png" class="imageSize img-fluid" alt="Associate Chain Due Collection" />
                <h6 class="card-title mt-1 mb-0">Associate Chain Due Collection</h6>
            </div>
        </a>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
        <a href="~/Manager/Field_amp" class="card custom-card text-center h-100">
            <div class="card-body">
                <img src="~/images/logo/payment-method.png" class="imageSize img-fluid" alt="Associate Monthely Payment" />
                <h6 class="card-title mt-1 mb-0">Associate Monthely Payment</h6>
            </div>
        </a>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
        <a href="~/Manager/Printing_pc" class="card custom-card text-center h-100">
            <div class="card-body">
                <img src="~/images/logo/CreateLogo/bill.png" class="imageSize img-fluid" alt="TDS Report" />
                <h6 class="card-title mt-1 mb-0">TDS Report</h6>
            </div>
        </a>
    </div>
</div>

</div>

