
@{
    ViewBag.Title = "Field_amp";
    Layout = "~/Views/Manager_LayoutPage1.cshtml";
}

<div class="container shado mt-5 ">
    <!-- Heading -->
    <div class="w-100  card-heading">
        <h3 class="text-center text-white pt-2 pb-2">Voucher</h3>
    </div>

    <!-- Cards Section -->
    <div class="row g-3 cardStyle justify-content-center">
        <!-- Collection Point -->
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
            <a href="~/Manager/Create_cp" class="card custom-card text-center h-100">
                <div class="card-body">
                    <img src="~/images/logo/CreateLogo/chain1.png" class="imageSize img-fluid" alt="Direct Chain Associate Payment" />
                    <h6 class="card-title mt-1 mb-0">Direct Chain Associate Payment</h6>
                </div>
            </a>
        </div>

        <!-- Associate -->
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
            <a href="~/Manager/Printing_cwl" class="card custom-card text-center h-100">
                <div class="card-body">
                    <img src="~/images/logo/CreateLogo/blockchain.png" class="imageSize img-fluid" alt="Complete Chain Associate Payment" />
                    <h6 class="card-title mt-1 mb-0">Complete Chain Associate Payment</h6>
                </div>
            </a>
        </div>

        <!-- Customer -->
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
            <a href="~/Manager/Printing_customer" class="card custom-card text-center h-100">
                <div class="card-body">
                    <img src="~/images/logo/CreateLogo/mobile-payment.png" class="imageSize img-fluid" alt="Bondwise Associate Payment" />
                    <h6 class="card-title mt-1 mb-0">Bondwise Associate Payment</h6>
                </div>
            </a>
        </div>
    </div>
</div>

