
@{
    ViewBag.Title = "Official_reports";
    Layout = "~/Views/Manager_LayoutPage1.cshtml";
}

<div class="container shado mt-5">
    @*Heading*@

    <div class="w-100  card-heading">
        <h3 class="text-center  text-white pt-1 pb-1">Official Reports</h3>
    </div>


    @*Cards Section*@
<div class="row cardStyle g-3 justify-content-center">
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
        <a href="~/Manager/Printing_Form" class="card custom-card text-center h-100">
            <div class="card-body">
                <img src="~/images/logo/CreateLogo/login.png" class="imageSize img-fluid" alt="Collection Point Login-Detail" />
                <h6 class="card-title mt-1 mb-0 ">Collection Point Login-Detail</h6>
            </div>
        </a>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
        <a href="~/Manager/Printing_customer" class="card custom-card text-center h-100">
            <div class="card-body">
                <img src="~/images/logo/CreateLogo/shortlist.png" class="imageSize img-fluid" alt="Customer List" />
                <h6 class="card-title mt-1 mb-0">Customer List</h6>
            </div>
        </a>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
        <a href="~/Manager/Printing_cwl" class="card custom-card text-center h-100">
            <div class="card-body">
                <img src="~/images/logo/CreateLogo/customer.png" class="imageSize img-fluid" alt="DateWise Customer List" />
                <h6 class="card-title mt-1 mb-0">DateWise Customer List</h6>
            </div>
        </a>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
        <a href="~/Manager/Printing_pc" class="card custom-card text-center h-100">
            <div class="card-body">
                <img src="~/images/logo/CreateLogo/delegation.png" class="imageSize img-fluid" alt="Assign Plot Customer List" />
                <h6 class="card-title mt-1 mb-0">Assign Plot Customer List</h6>
            </div>
        </a>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
        <a href="~/Manager/Printing_pc" class="card custom-card text-center h-100">
            <div class="card-body">
                <img src="~/images/logo/CreateLogo/accounting-book.png" class="imageSize img-fluid" alt="Datewise Customer Ledger" />
                <h6 class="card-title mt-1 mb-0">Datewise Customer Ledger</h6>
            </div>
        </a>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
        <a href="~/Manager/Printing_pc" class="card custom-card text-center h-100">
            <div class="card-body">
                <img src="~/images/logo/CreateLogo/team.png" class="imageSize img-fluid" alt="DateWise Member List" />
                <h6 class="card-title mt-1 mb-0">DateWise Member List</h6>
            </div>
        </a>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
        <a href="~/Manager/Printing_Form" class="card custom-card text-center h-100">
            <div class="card-body">
                <img src="~/images/logo/CreateLogo/shortlist.png" class="imageSize img-fluid" alt="All Member List" />
                <h6 class="card-title mt-1 mb-0 ">All Member List</h6>
            </div>
        </a>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
        <a href="~/Manager/Printing_customer" class="card custom-card text-center h-100">
            <div class="card-body">
                <img src="~/images/logo/CreateLogo/performance.png" class="imageSize img-fluid" alt="Level List" />
                <h6 class="card-title mt-1 mb-0">Level List</h6>
            </div>
        </a>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
        <a href="~/Manager/Printing_cwl" class="card custom-card text-center h-100">
            <div class="card-body">
                <img src="~/images/logo/CreateLogo/ledger.png" class="imageSize img-fluid" alt="Customer Ledger Details" />
                <h6 class="card-title mt-1 mb-0">Customer Ledger Details</h6>
            </div>
        </a>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
        <a href="~/Manager/Printing_pc" class="card custom-card text-center h-100">
            <div class="card-body">
                <img src="~/images/logo/CreateLogo/file.png" class="imageSize img-fluid" alt="Daily Expense Details" />
                <h6 class="card-title mt-1 mb-0">Daily Expense Details</h6>
            </div>
        </a>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
        <a href="~/Manager/Printing_pc" class="card custom-card text-center h-100">
            <div class="card-body">
                <img src="~/images/logo/CreateLogo/room.png" class="imageSize img-fluid" alt="Daily Closing Details" />
                <h6 class="card-title mt-1 mb-0">Daily Closing Details</h6>
            </div>
        </a>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
        <a href="~/Manager/Printing_pc" class="card custom-card text-center h-100">
            <div class="card-body">
                <img src="~/images/logo/CreateLogo/statements.png" class="imageSize img-fluid" alt="RP Statement Report" />
                <h6 class="card-title mt-1 mb-0">RP Statement Report</h6>
            </div>
        </a>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
        <a href="~/Manager/Printing_pc" class="card custom-card text-center h-100">
            <div class="card-body">
                <img src="~/images/logo/CreateLogo/data-collection.png" class="imageSize img-fluid" alt="Datewise Collection Details" />
                <h6 class="card-title mt-1 mb-0">Datewise Collection Details</h6>
            </div>
        </a>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
        <a href="~/Manager/Printing_Form" class="card custom-card text-center h-100">
            <div class="card-body">
                <img src="~/images/logo/CreateLogo/money (2).png" class="imageSize img-fluid" alt="Daily Collection" />
                <h6 class="card-title mt-1 mb-0 ">Daily Collection</h6>
            </div>
        </a>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
        <a href="~/Manager/Printing_customer" class="card custom-card text-center h-100">
            <div class="card-body">
                <img src="~/images/logo/cheque.png" class="imageSize img-fluid" alt="Datewise Cheque Collection" />
                <h6 class="card-title mt-1 mb-0">Datewise Cheque Collection</h6>
            </div>
        </a>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
        <a href="~/Manager/Printing_cwl" class="card custom-card text-center h-100">
            <div class="card-body">
                <img src="~/images/logo/CreateLogo/cheque (1).png" class="imageSize img-fluid" alt="Clear Cheque Collection" />
                <h6 class="card-title mt-1 mb-0">Clear Cheque Collection</h6>
            </div>
        </a>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
        <a href="~/Manager/Printing_pc" class="card custom-card text-center h-100">
            <div class="card-body">
                <img src="~/images/logo/CreateLogo/cancel.png" class="imageSize img-fluid" alt="Cancel Receipt List" />
                <h6 class="card-title mt-1 mb-0">Cancel Receipt List</h6>
            </div>
        </a>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
        <a href="~/Manager/Printing_pc" class="card custom-card text-center h-100">
            <div class="card-body">
                <img src="~/images/logo/report.png" class="imageSize img-fluid" alt="Datewise Business Report" />
                <h6 class="card-title mt-1 mb-0">Datewise Business Report</h6>
            </div>
        </a>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
        <a href="~/Manager/Printing_pc" class="card custom-card text-center h-100">
            <div class="card-body">
                <img src="~/images/logo/CreateLogo/people (1).png" class="imageSize img-fluid" alt="Fund Mobilisation Report" />
                <h6 class="card-title mt-1 mb-0">Fund Mobilisation</h6>
            </div>
        </a>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
        <a href="~/Manager/Printing_Form" class="card custom-card text-center h-100">
            <div class="card-body">
                <img src="~/images/logo/CreateLogo/prepaid.png" class="imageSize img-fluid" alt="Paid Voucher" />
                <h6 class="card-title mt-1 mb-0 ">Paid Voucher</h6>
            </div>
        </a>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
        <a href="~/Manager/Printing_customer" class="card custom-card text-center h-100">
            <div class="card-body">
                <img src="~/images/logo/CreateLogo/rejection.png" class="imageSize img-fluid" alt="Unpaid Voucher" />
                <h6 class="card-title mt-1 mb-0">Unpaid Voucher</h6>
            </div>
        </a>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
        <a href="~/Manager/Printing_cwl" class="card custom-card text-center h-100">
            <div class="card-body">
                <img src="~/images/logo/CreateLogo/report (1).png" class="imageSize img-fluid" alt="Monthly Renewal Report" />
                <h6 class="card-title mt-1 mb-0">Monthly Renewal Report</h6>
            </div>
        </a>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
        <a href="~/Manager/Printing_pc" class="card custom-card text-center h-100">
            <div class="card-body">
                <img src="~/images/logo/CreateLogo/plan.png" class="imageSize img-fluid" alt="Deactive EMI Payment Customer List" />
                <h6 class="card-title mt-1 mb-0">Deactive EMI Payment Customer List</h6>
            </div>
        </a>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
        <a href="~/Manager/Printing_pc" class="card custom-card text-center h-100">
            <div class="card-body">
                <img src="~/images/logo/CreateLogo/payment (1).png" class="imageSize img-fluid" alt="Advance Payment Report" />
                <h6 class="card-title mt-1 mb-0">Advance Payment Report</h6>
            </div>
        </a>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
        <a href="~/Manager/Printing_pc" class="card custom-card text-center h-100">
            <div class="card-body">
                <img src="~/images/logo/CreateLogo/agreement.png" class="imageSize img-fluid" alt="Bond Approval" />
                <h6 class="card-title mt-1 mb-0">Bond Approval</h6>
            </div>
        </a>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
        <a href="~/Manager/Printing_pc" class="card custom-card text-center h-100">
            <div class="card-body">
                <img src="~/images/logo/CreateLogo/lease.png" class="imageSize img-fluid" alt="Renewal Approval" />
                <h6 class="card-title mt-1 mb-0">Renewal Approval</h6>
            </div>
        </a>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
        <a href="~/Manager/Printing_cwl" class="card custom-card text-center h-100">
            <div class="card-body">
                <img src="~/images/logo/CreateLogo/receptionist (1).png" class="imageSize img-fluid" alt="Receptionist List" />
                <h6 class="card-title mt-1 mb-0">Receptionist List</h6>
            </div>
        </a>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
        <a href="~/Manager/Printing_pc" class="card custom-card text-center h-100">
            <div class="card-body">
                <img src="~/images/logo/CreateLogo/visitors.png" class="imageSize img-fluid" alt="Visitor List" />
                <h6 class="card-title mt-1 mb-0">Visitor List</h6>
            </div>
        </a>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
        <a href="~/Manager/Printing_pc" class="card custom-card text-center h-100">
            <div class="card-body">
                <img src="~/images/logo/closure.png" class="imageSize img-fluid" alt="Deal Sheet List" />
                <h6 class="card-title mt-1 mb-0">Deal Sheet List</h6>
            </div>
        </a>
    </div>
    
</div>

</div>

