
@{
    ViewBag.Title = "Payment_sc";
    Layout = "~/Views/Manager_LayoutPage1.cshtml";
}

<div class="container mt-5 FormContainer">
    <h2 class="text-center mb-4">Payment Spot Commission</h2>
    <form id="branchForm" class="border p-4 rounded shadow formtag">

        <!-- Associate ID -->
        <div class="mb-3">
            <label for="associateId" class="form-label formLabel">Enter Associate ID:</label>
            <input type="text" class="form-control formInput" id="associateId" placeholder="Enter Associate ID" required>
        </div>

        <!-- Search Button -->
        <div class="text-center d-grid gap-2">
            <button type="submit" class="btn btn-lg formButtom">Search</button>
        </div>
    </form>
</div>


