
@{
    ViewBag.Title = "Printing";
    Layout = "~/Views/Manager_LayoutPage1.cshtml";
}


<div class="container shado mt-5">
    <div class="w-100  card-heading">
        <h3 class="text-center  text-white pt-1 pb-1">Print</h3>
    </div>

    <div class="row cardStyle g-3 justify-content-center">
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
            <a href="~/Manager/Printing_Form" class="card custom-card text-center h-100">
                <div class="card-body">
                    <img src="~/images/logo/agent (1).png" class="imageSize img-fluid" alt="Agent Welcome Letter" />
                    <h6 class="card-title mt-1 mb-0">Agent Welcome Letter</h6>
                </div>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
            <a href="~/Manager/Printing_cwl" class="card custom-card text-center h-100">
                <div class="card-body">
                    <img src="~/images/logo/writing.png" class="imageSize img-fluid" alt="Customer Welcome Letter" />
                    <h6 class="card-title mt-1 mb-0">Customer Welcome Letter</h6>
                </div>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
            <a href="~/Manager/Printing_customer" class="card custom-card text-center h-100">
                <div class="card-body">
                    <img src="~/images/logo/client.png" class="imageSize img-fluid" alt="Customer" />
                    <h6 class="card-title mt-1 mb-0">Customer</h6>
                </div>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
            <a href="~/Manager/Printing_pc" class="card custom-card text-center h-100">
                <div class="card-body">
                    <img src="~/images/logo/rating (1).png" class="imageSize img-fluid" alt="Pending Customer" />
                    <h6 class="card-title mt-1 mb-0">Pending Customer</h6>
                </div>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
            <a href="~/Manager/Printing_ceal" class="card custom-card text-center h-100">
                <div class="card-body">
                    <img src="~/images/logo/legal.png" class="imageSize img-fluid" alt="Customer Allotment Letter" />
                    <h6 class="card-title mt-1 mb-0">Customer Allotment Letter</h6>
                </div>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
            <a href="~/Manager/Printing_renewal" class="card custom-card text-center h-100">
                <div class="card-body">
                    <img src="~/images/logo/receipt.png" class="imageSize img-fluid" alt="Renewal" />
                    <h6 class="card-title mt-1 mb-0">Renewal</h6>
                </div>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
            <a href="~/Manager/Printing_prenewal" class="card custom-card text-center h-100">
                <div class="card-body">
                    <img src="~/images/logo/receipt (1).png" class="imageSize img-fluid" alt="Pending Renewal" />
                    <h6 class="card-title mt-1 mb-0">Pending Renewal</h6>
                </div>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
            <a href="~/Manager/Printing_sc" class="card custom-card text-center h-100">
                <div class="card-body">
                    <img src="~/images/logo/commission.png" class="imageSize img-fluid" alt="Spot Commission" />
                    <h6 class="card-title mt-1 mb-0">Spot Commission</h6>
                </div>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
            <a href="~/Manager/Printing_atsp_emi" class="card custom-card text-center h-100">
                <div class="card-body">
                    <img src="~/images/logo/business-aggrement.png" class="imageSize img-fluid" alt="Agreement to Sell Property (EMI)" />
                    <h6 class="card-title mt-1 mb-0">Agreement to Sell Property (EMI)</h6>
                </div>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
            <a href="~/Manager/Printing_atsp_emi" class="card custom-card text-center h-100">
                <div class="card-body">
                    <img src="~/images/logo/business-aggrement.png" class="imageSize img-fluid" alt="Agreement to Sell Property (PART)" />
                    <h6 class="card-title mt-1 mb-0">Agreement to Sell Property (PART)</h6>
                </div>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
            <a href="~/Manager/Printing_dsr" class="card custom-card text-center h-100">
                <div class="card-body">
                    <img src="~/images/logo/student-grades.png" class="imageSize img-fluid" alt="Deal Sheet Report" />
                    <h6 class="card-title mt-1 mb-0">Deal Sheet Report</h6>
                </div>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
            <a href="~/Manager/Printing_pr" class="card custom-card text-center h-100">
                <div class="card-body">
                    <img src="~/images/logo/report.png" class="imageSize img-fluid" alt="Possession Report" />
                    <h6 class="card-title mt-1 mb-0">Possession Report</h6>
                </div>
            </a>
        </div>
    </div>
</div>


